{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.UniProtEntryID.label(class="form-control-label") }}
                {% if form.UniProtEntryID.errors %}
                    {{ form.UniProtEntryID(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.UniProtEntryID.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.UniProtEntryID(class="form-control form-control-lg") }}
            </div>
			{% endif %}
			
            <div class="form-group">
                {{ form.GOTermID.label(class="form-control-label") }}
                {% if form.GOTermID.errors %}
                    {{ form.GOTermID(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.GOTermID.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.GOTermID(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			<div class="form-group">
                {{ form.Qualifier.label(class="form-control-label") }}
                {% if form.Qualifier.errors %}
                    {{ form.Qualifier(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.Qualifier.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.Qualifier(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}