{% extends "layout.html" %}
{% block content %}
    {% for row in m_n_join %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('goannotation', GOTermID=row.GOTermID, UniProtEntryID=row.UniProtEntryID) }}">{{ row.UniProtEntryID }} {{ row.Qualifier }} {{ row.GOTermID }} </a>
              <small class="text-muted"></small>
            </div>
			<h4 class="article-title">{{ row.ScientificName }} {{ row.Qualifier }} {{ row.Name }}</h4>

          </div>
        </article>
     {% endfor %}
{% endblock content %}