{% extends "layout.html" %}
{% block content %}
	<h1>Covid Proteins Home Page</h1>
	<hr>
    {% for protein in proteins %}
        <article class="media content-section">
          <div class="media-body">
            <h4 style="margin-bottom:0;"><a href="{{ url_for('protein', UniProtEntryID=protein.UniProtEntryID) }}">{{ protein.ScientificName }}</a></h4>
			  <small class="text-secondary"> (UniProt ID: {{ protein.UniProtEntryID }})</small>
			{% for location in locations %}
				{% if protein.UniProtEntryID == location.UniProtEntryID %}
					<p class="article-content" style="margin-bottom:0;"><b>Location:</b> {{ location.Name }}</p>
				{% endif %}
			{% endfor %}
			{% for ligand in ligands %}
				{% if protein.UniProtEntryID == ligand.UniProtEntryID %}
					<p class="article-content" style="margin-bottom:0;">Protein has a known ligand it binds to</p>
				{% endif %}
			{% endfor %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}