{% extends "layout.html" %}
{% block content %}
	<article class="media content-section">
        <div class="media-body">
			<h2 class="article-title">{{ protein.ScientificName }}</h2>
            <p class="article-content">UniProt ID: {{ protein.UniProtEntryID }}</p>
			<p class="article-content">Gene ID: {{ protein.GeneID }}</p>
			<p class="article-content">Amino acid length: {{ protein.AALength }}</p>
			<p class="article-content">Protein's function: {{ protein.Function }}</p>
			{% if protein.StructureFile and protein.StructureFile != "default.jpg" %}
				<img src="{{ url_for('static', filename='PDB Images/' + protein.StructureFile) }}" style="width:400px;height:400px">
			{% endif %}
        </div>
    </article>
{% endblock content %}